<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css"/>
		<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/tts.css"/>
		<title>TTS | Login</title>
	</head>

	<body>
		<div class="login-container">
			<div class="form-holder">
				<form method="post" action="">
					{% csrf_token %}
					<h2>Welcome to TTS</h2>
					{% if login_error %}
						<div class="alert">
							<p>{{ login_error }}</p>
						</div>
					{% endif %} 
					<input type="text" name="username" id="id_username" placeholder="USERNAME"/>
					<input type="password" name="password" id="id_password" placeholder="PASSWORD"/>
					<input type="submit" class="btn btn-info" value="LOGIN"/>
				</form>
			</div>
		</div>
	</body>

</html>