<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css"/>
		<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/tts.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{  STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    {% block local_head %}
    {% endblock %}
		<title>{% block title %}TTS | Home{% endblock %}</title>
	</head>
	<body>
		<div class="navbar">
  			<div class="navbar-inner">
    			<a class="brand" href="{% url 'index' %}">TTS</a>
    			<ul class="nav">
              {% block nav_links %}
      				<li class="active"><a href="{% url 'index' %}">Events</a></li>
              <li><a href="{% url 'tasks' %}">Tasks</a></li>
      				<li><a href="{% url 'common' %}">Communal</a></li>
      				<li><a href="{% url 'ooo_request'%}">Request</a></li>
              <li><a href="{% url 'worklog'%}">Work Log</a></li>
              {% endblock %}
    			</ul>
    			<ul class="nav pull-right">
    				<li><a href="{{ user.get_absolute_url }}">{{ user.first_name }} {{ user.last_name }} - {{ user.position }}</a></li>
    			</ul>
  			</div>
  		</div>
  			<div class="conteiner-fluid">
  				<div class="row-fluid">
  					<div class="span9">
  						<div class="main-content">
  							{% block content %}
  								

  							{% endblock %}
  						</div>
  					</div>
  					<div class="span3">
  						{% block projects %}
  							<div class="projects-menu1">
  								<div class="menu1-link">
  									<a class="text-info" href="{% url 'reports' %}">Reports</a>
  								</div>  								
  								<div class="projects">
  									<div class="container">
  										<h3>Projects</h3>
                      {% for p in user.project_set.all %}
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                      {% endfor %}
  									</div>
  								</div>
  								<div class="projects-menu2">
  									<div class="container">
  										<a class="text-info" href="{% url 'export' %}">Load data</a>
  									</div>
  								</div>
  							</div>
  						{% endblock %}
  					</div>
  				</div>

  				
  			</div>
  			<footer class="footer">
  					<div class="container">
  						<p>Designed and built with all the love in the world by <a href="mailto:marika952.2@gmail.com">rika</a>.</p>
  						<p>Copyrignt © 2013 RJ Inc.</p>
  					</div>
  				</footer>
	</body>
</html>