{% extends 'layout.html' %}

{% block local_head %}
	{{ form.media }}
{% endblock %}

{% block nav_links %}
    <li><a href="{% url 'index' %}">Events</a></li>
    <li><a href="{% url 'tasks' %}">Tasks</a></li>
    <li><a href="{% url 'common' %}">Communal</a></li>
    <li><a href="{% url 'ooo_request'%}">Request</a></li>
    <li><a href="{% url 'worklog'%}">Work Log</a></li>
{% endblock %}

{% block content %}
	<div id="track-content">
		<form action='' method='post'>
			{% csrf_token %}
			{{ form.as_table }}
			<p><button class="btn btn-info">Save</button></p>
		</form>
	</div>
{% endblock %}